/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Left half main keys
                &kp Q &kp W &kp E &kp R &kp T
                &kp A &kp S &kp D &kp F &kp G
                &kp Z &kp X &kp C &kp V &kp B

                // Left thumb keys
                &kp LCTRL &kp LALT &kp LGUI

                // Right half main keys
                &kp Y &kp U &kp I &kp O &kp P
                &kp H &kp J &kp K &kp L &kp SEMI
                &kp N &kp M &kp COMMA &kp DOT &kp SLASH

                // Right thumb keys
                &kp SPACE &kp ENTER &kp BSPACE
            >;
        };
    };
};
