#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// dt-formatter: indent = "  "
// dt-formatter: multilineIntegerCellsIndent = "reindent"
// dt-formatter: multilineListCommaStyle = "leading"

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      display-name = "Base";
      bindings = <
        &kp Q  &kp W  &kp E          &kp R      &kp T  &kp Y  &kp U      &kp I           &kp O    &kp P
        &kp A  &kp S  &kp D          &kp F      &kp G  &kp H  &kp J      &kp K           &kp L    &kp DELETE
        &kp Z  &kp X  &kp C          &kp V      &kp B  &kp N  &kp M      &kp COMMA       &kp DOT  &kp ENTER
                      &kp LEFT_META  &kp PIPE2  &mo 1  &none  &kp SPACE  &kp LEFT_SHIFT
      >;
    };

    nummber_layer {
      display-name = "num";
      bindings = <
        &kp N1  &kp N2  &kp N3  &kp N4  &kp N5       &kp N6          &kp N7          &kp N8        &kp N9           &kp N0
        &trans  &trans  &trans  &trans  &trans       &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
        &trans  &trans  &trans  &trans  &bootloader  &bootloader     &trans          &trans        &trans           &trans
                        &trans  &trans  &trans       &trans          &trans          &trans
      >;
    };

    extra1 { status = "reserved"; };

    extra2 { status = "reserved"; };

    extra4 { status = "reserved"; };

    extra5 { status = "reserved"; };

    extra6 { status = "reserved"; };

    extra7 { status = "reserved"; };

    extra8 { status = "reserved"; };

    extra9 { status = "reserved"; };
  };
};
