if SHIELD_SEBIBOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "sebiboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_SEBIBOARD_LEFT

if SHIELD_SEBIBOARD_LEFT || SHIELD_SEBIBOARD_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_SEBIBOARD_LEFT || SHIELD_SEBIBOARD_RIGHT
