#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// dt-formatter: indent = "  "
// dt-formatter: multilineIntegerCellsIndent = "reindent"
// dt-formatter: multilineListCommaStyle = "leading"

/ {
  keymap {
    compatible = "zmk,keymap";


    default_layer { // Layer 0
      
      display-name = "Base";
      bindings = <
        &kp Q  &kp W  &kp E     &kp R             &kp T        &kp Z    &kp U           &kp I      &kp O    &kp P
        &kp A  &kp S  &kp D     &kp F             &kp G        &kp H    &kp J           &kp K      &kp L    &kp LESS_THAN
        &kp Y  &kp X  &kp C     &kp V             &kp B        &kp N    &kp M           &kp COMMA  &kp DOT  &kp MINUS
                      &studio_unlock  &kp SPACE   &bootloader	   &kp RET  &kp LEFT_SHIFT  &kp ESC
      >;
    };

    extra1 {
        status = "reserved";
    };

    extra2 {
        status = "reserved";
    };

    extra4 {
        status = "reserved";
    };

    extra5 {
        status = "reserved";
    };

    extra6 {
        status = "reserved";
    };

    extra7 {
        status = "reserved";
    };

    extra8 {
        status = "reserved";
    };

    extra9 {
        status = "reserved";
    };
  };
};
